[Desktop Entry]
Encoding=UTF-8
Name=PiBulwark
Comment=PiBulwark P2P Cryptocurrency
Comment[fr]=PiBulwark, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PiBulwark, eşten eşe kriptografik sanal para birimi
Exec=bulwark-qt %u
Terminal=false
Type=Application
Icon=bulwark128
MimeType=x-scheme-handler/bulwark;
Categories=Office;Finance;
